hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

.left {
    float: left;
}

.right {
    float: right;
}

#app-container {
    display: flex;
    height: 65vh;
    margin: 5px;
}

#weather-container {
    margin-top: 0;
    margin-left: 0;
    background: black;
    color: whitesmoke;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 10px;
}

#header {
    font-size: 25px;
    margin-top: 20px;
}

.location {
    text-align: right;
}

#weather-icon-container, #current-temp-container {
    font-size: 70px;
    text-align: center;
}

#summary-container {
    padding: 20px 5px;
    font-size: 35px;
    text-align: center;
}

#extra-weather {
    font-size: 20px;
    text-align: center;
}

.extra-weather-item {
    margin-bottom: 10px;
}


@media screen and (max-width: 1060px) {
    .title, .location {
        text-align: center;
    }

    #header {
        font-size: 4vh;
        margin: 5px;
    }

    #weather-icon-container, #current-temp-container {
        font-size: 8vh;
        text-align: center;
    }

    #summary-container {
        padding: 10px;
        font-size: 6vh;
        text-align: center;
    }

    #extra-weather {
        font-size: 4vh;
        text-align: center;
        padding: 5px;
    }

    .extra-weather-item {
        margin-bottom: 0;
    }
}

