table {
    color: #566787;
    background: white;
    font-family: 'Roboto', sans-serif;

}
thead {
    background-color: aliceblue;
    text-align: center;
    font-size: 12px;
}

table.table tr th, table.table tr td {
    border-color: lightgrey;
}
table tbody {
    font-size: 14px;
}
td:first-child {
    font-weight: bold;
    text-transform: capitalize;
}
td:not(:first-child){
    text-align: right;
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
    min-height: 35px;

}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 20px;
}

.table-wrapper {
    background: #fff;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}