.clock-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 10vh;
    position: sticky;
    bottom: 0;

}

.clock-wrapper {
    padding: 0 20px;
}

.time-text {
    font-size: 2em;
    color: #e59400;
    margin-left: 20px;
}

.days-text {
    color: #e59400;
    padding-bottom: 0;
    margin-left: 20px;
}

.caption-text {
    color: #e59400;
    float: right;
    margin-right: 20px;
}

@media screen and (max-width:1060px) {
  .clock-container {
      height: 5%;
      position: sticky;
      bottom: 0;
  }
}
