@import url('https://fonts.googleapis.com/css?family=Muli');

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Muli", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.carousel-control-next-icon, .carousel-control-prev-icon{
    background-image: none;
}

@media (max-width: 1060px) {
    body {
        font-size: 1rem;
    }
    .main-screen {
        height: 90vh;
    }
    p{
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 1100px) {
    body {
        font-size: 1.5rem;
    }
    .main-screen {
        height: 90vh;
    }

}

